body {
  text-align: center;
  background-color: #0b4b8e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#root {
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 1em;
}

form {
  width: 100%;
}

.search {
  font-size: 1em;
  width: 80%;
  padding: 0.2rem;
  background: none;
  border: none;
  border-bottom: 2px solid #6293c7;
  color: white;
  transition-duration: 0.4s;
}

.search:focus {
  outline: none;
  border-bottom: 2px solid white;
}

::placeholder {
  color: #6293c7;
}

button {
  background: none; /* Green */
  border: none;
  color: #6293c7;
  font-size: 1em;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:hover {
  color: white;
}

a {
  color: #edb86b;
}

h4 {
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

span {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 5.3rem;
  margin-left: 1em;
}

select {
  outline: none;
  border: none;
  background: #042f5c;
  font-size: 80%;
  flex: 1;
  padding: 0 0.5em;
  color: #6293c7;
  cursor: pointer;
}

.select {
  position: relative;
  display: flex;
  height: 2em;
  line-height: 3;
  background: #042f5c;
  overflow: hidden;
  border-radius: 0.25em;
}

.select::after {
  content: "\25BC";
  font-size: 0.7em;
  position: absolute;
  color: #0b4b8e;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #042f5c;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}
.select:hover::after {
  color: white;
}

option {
  font-size: 1em;
}

img {
  max-width: 100%;
}

.error {
  width: 80%;
}

.pagination button {
  color: #042F5C;
  padding: 1rem;
  text-decoration: none;
  transition: opacity 0.3s;
}

.pagination button.active {
  color: white;
  cursor: default;
}

.pagination button.disabled{
  display: none;
}

.pagination button:not(:hover) {
  opacity: 0.5;
}
